body{
    margin: 0;
}

li{
    padding-left: 24px;
}

.D0-aside{
    height: 100vh;
    width: 462px;
    /* left: 0px; */
    transition: all ease-in-out 400ms;
}

.D0-nav{
    height: 176px;
    width: 100%;

}

.D0-master-container{
    height: 80px;
    width: 100%;
}

.D0-rem-header{
    height: 80px;
    padding: 24px;
}

.D0-aside-li{
    height: 80px;
}